#controls {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 90vh;
  border-radius: 2rem;
  background: lightgray;
  padding: 0.6rem;
}
#speedAdjust {
  border: 0.125rem solid black;
  border-radius: 1rem;
  margin-bottom: 0 auto;
  background: #282c34;
  color: white;
}

// Media Queries //

@media screen and (max-width: 1920px) {
  #controls {
    width: 100vh;
  }
}
@media screen and (max-width: 900px) {
  #controls {
    width: 155vh;
  }
}
