.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#controls {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 90vh;
  border-radius: 2rem;
  background: lightgray;
  padding: 0.6rem;
  margin-bottom: 1rem;
}
#speedAdjust {
  border: 0.125rem solid black;
  border-radius: 1rem;
  margin-bottom: 0 auto;
}
h2 {
  font-size: 1.2rem;
  margin: 0 1rem 1rem 1rem;
}
h3 {
  font-size: 1.5rem;
  color: white;
  margin: 1rem auto;
}
h1 {
  color: white;
}

button {
  margin: auto;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dead {
  background: white;
}
.cell {
  width: 3%;
  margin: 0.5%;
  border-radius: 2px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.grid {
  height: 90vh;
  width: 90vh;
  margin: auto;
}
.life {
  background: silver;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  height: 3%;
  display: flex;
}
body {
  border: 1px solid white;
  border-radius: 2rem;
  padding: 1rem;
}

#zero {
  background: black;
}
#one {
  background: purple;
}
#two {
  background: yellow;
}
#three {
  background: red;
}
#four {
  background: lightgreen;
}
#five {
  background: orange;
}
#six {
  background: pink;
}
#seven {
  background: lightsalmon;
}
#eight {
  background: lime;
}
#nine {
  background: lightseagreen;
}
#ten {
  background: lightskyblue;
}
