.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#controls {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 90vh;
  border-radius: 2rem;
  background: lightgray;
  padding: 0.6rem;
}
#speedAdjust {
  border: 0.125rem solid black;
  border-radius: 1rem;
  margin-bottom: 0 auto;
  background: #282c34;
  color: white;
}
h2 {
  font-size: 1.2rem;
  margin: 0 1rem 1rem 1rem;
}
h3 {
  font-size: 1.5rem;
  color: white;
  margin: 1rem auto;
}
h1 {
  color: white;
}

button {
  margin: auto;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.9rem;
  height: 2.8rem;
  background: #282c34;
  color: white;
}
@media screen and (max-width: 1920px) {
  #controls {
    width: 100vh;
  }
  button {
    padding: 0.5rem;
  }
}

.cell {
  width: 3%;
  margin: 0.5%;
  border-radius: 2px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.grid {
  height: 90vh;
  width: 90vh;
  margin: auto;
}
.life {
  background: silver;
}
.dead {
  background: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  height: 3%;
  display: flex;
}
body {
  border: 1px solid white;
  border-radius: 2rem;
  padding: 1rem;
}

#one {
  background: purple;
}
#two {
  background: yellow;
}
#three {
  background: red;
}
#four {
  background: lightgreen;
}
#five {
  background: orange;
}
#six {
  background: pink;
}
#seven {
  background: lightsalmon;
}
#eight {
  background: lime;
}
#nine {
  background: lightseagreen;
}
#ten {
  background: lightskyblue;
}
.color-content {
  font-size: 1rem;
}
.about-content {
  font-size: 1rem;
}
.cell.life {
  background: white;
}
table {
  width: 90%;
  margin: 0 auto;
}
#black {
  background-color: black;
  color: white;
}
#purple {
  background-color: purple;
  color: white;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
  color: white;
}
#lightGreen {
  background-color: lightgreen;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
  color: white;
}
#lightSalmon {
  background-color: lightsalmon;
}
#limeGreen {
  background-color: lime;
}
#seaGreen {
  background-color: seagreen;
  color: white;
}
#skyBlue {
  background-color: skyblue;
}
#silver {
  background-color: silver;
}
td {
  border-bottom: 0.1rem solid black;
  border-left: 0.1rem solid black;
}
thead {
  background-color: lightgray;
}
th {
  border: 0.1rem solid black;
}
